/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.x-media .p-header {
		padding: 0px 4rem;
	}
	.x-media .p-header,
	.x-media .p-header ul {
		flex-direction: row;
	}
	.x-media .p-header ul li a:after {
		display: block;
	}
    

}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

        
}



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}



/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}